body{
    font-family: 'Poppins', sans-serif;
    padding: 0%;
}
.Header-text{
    text-align: center;
    
}
h1{
    font-size: 50px;
    color: white;
    
    
}
.header-side{
             padding-left: 55%;  
             padding-top: 60px;
             background-image: url(flight-image.jpg);
             height: 500px;
            }
.middle-text{
    color: white;
}
#lower-middle-text{
    text-align: center;
    background-color: rgb(255, 87, 115);
    margin-left: 35%;
    margin-right: 35%;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    }

